body {
  font-family: Arial;
  margin: 40px;
  background: #f5f5f5;
}

form {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

input,
button {
  margin: 5px;
  padding: 10px;
  width: 95%;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

.eliminar {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
